.lavel__box {
  display: flex;
  column-gap: 10px;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}
/*чек-бокс*/
.checkbox__label {
  width: max-content;
  cursor: pointer;
}

.form__pseudo-checkbox {
  background-color: rgba(243, 244, 246, 1);
  border: 1px solid rgba(66, 83, 97, 1);
  border-radius: 4px;
  display: inline-block;
  width: 18px;
  height: 18px;
  margin-right: 5px;
  vertical-align: sub;
  position: relative;
}
.form__pseudo-checkbox::before {
  content: '';
  /*рисунок*/
  display: inline-block;
  width: 16px;
  height: 16px;
  background-image: url('../../../img/icon__yes.svg');
  background-size: contain;
  background-repeat: no-repeat;
  /*выравнивание рисунка*/
  position: absolute;
  background-position: center;
  left: 1px;
  top: 1px;
  opacity: 0;
}
/*checked*/
.form__checkbox:checked + span {
  background-color: rgba(66, 83, 97, 1);
}
.form__checkbox:checked + .form__pseudo-checkbox::before {
  opacity: 1;
}
.checkbox__label-text {
  font-size: 15px;
  font-weight: 400;
}

/*.additional-means:disabled {
  background-color: rgba(192, 23, 17, 0.5);
}

.SIZ__lable {
  display: flex;
  /*flex-direction: row-reverse;
  justify-content: flex-end;
  font-size: 15px;
  font-weight: 400;
  cursor: pointer;
  width: max-content;
}

.SIZ__lable-hiden {
  opacity: 0;
}*/

.checkbox__label.disabled > span{
  color: rgba(66, 83, 97, 0.6);
  border-color: rgba(66, 83, 97, 0.6);

}


