/********форма*********/
.form {
  display: grid;
  /* height: 100vh; */
  width: 100%;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: min-content fit-content 1fr 2fr;
  gap: 10px 8px;
}

/*-----заголовки секций-----*/

.form__header {
  background-color: var(--accent-light-color);
  height: 90px;
  box-shadow: var(--heavy-shadow);
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 8px;
}
.form__header-title {
  font-size: 26px;
  font-weight: 700;
}
.left {
  grid-column: 1 / span 1;
  grid-row: 1;
}
.center {
  grid-column: 2 / span 2;
}
.right {
  grid-column: 4 / span 2;
}

/*-----секция Профессия-----*/

.section {
  box-shadow: var(--light-shadow);
  border-radius: var(--radius);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  height: fit-content;
}
.section.profess {
  grid-column: 1 / span 1;
  grid-row: 2/ 4;
  margin-left: 20px;
}
.label-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  max-width: 350px;
  min-width: 340px;
}
.button.copy {
  background-color: var(--accent-green);
  margin-top: 20px;
  width: 100%;
}
.spoiler-wrapper {
  display: flex;
  gap: 10px;
  width: 100%;
}

.line {
  border-left: 1px solid var(--line-color);
  height: 100%;
}

/*-----секция Приказы ОПР-----*/

.section.orders {
  grid-row: 2 / 4;
}
.section.orders.opr {
  grid-column: 2 / span 2;
  height: 485px;
  justify-content: space-between;
}

/*-----секция Приказы Меры-----*/

.section.orders.measures {
  height: 260px;
  grid-column: 4 / span 2;
  grid-row: 2/3;
  margin-right: 20px;
}

/*-----секция Кнопки-----*/
.section.buttons {
  grid-column: 1/2;
  grid-row: 4/5;
  margin-left: 20px;
  gap: 10px;
}

.total {
  margin-top: 10px;
  text-transform: uppercase;
  align-self: flex-start;
}
.line-horiz {
  border-top: 1px solid var(--line-color);
  width: 350px;
}

.buttons_wrapper {
  display: flex;
  gap: 10px;
}

.button {
  height: 45px;
  border-radius: var(--radius);
  border: none;
  color: white;
  font-family: inherit;
  font-size: 18px;
  font-weight: 500;
}

.button__table {
  background-color: var(--accent-dark-blue);
  width: 100%;
  position: relative;
}

.button:hover {
  text-decoration: underline 1px;
}
.button.send {
  background-color: var(--accent-green);
  width: 100%;
}
.button.reset {
  background-color: var(--accent-red);
  width: 100%;
}
.button.button-cancel {
  background: transparent;
  color: var(--accent-red);
  font-size: 16px;
  height: 20px;
}
/* ---иконка---
.button__table:before {
  content: '';
  position: absolute;
  top: 6px;
  left: 45px;
  size: 20px;
  width: 23px;
  height: 27px;
  background-image: url('../../../img/excel_icon.svg');
  background-repeat: no-repeat;
  background-size: cover;
}*/

/*-----секция Риски-----*/

.risk,
.label.box {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.risk {
  width: 600px;
  justify-self: center;
  box-sizing: border-box;
  height: fit-content;
  padding: 20px;
}
.risk-opr {
  grid-column: 2 / span 2;
  height: 100%;
}
.risk-measures {
  grid-column: 4/-1;
  grid-row: 3;
}

.risk__labels {
  display: grid;
  grid-template-columns: repeat(3, 180px);
  gap: 10px;
}

.label.box {
  align-items: center;
}
.label.risk__attitude {
  font-size: 16px;
}

.risk__attitude-text {
  width: 100%;
  height: 50px;
  text-align: center;
  font-size: 16px;
  font-family: inherit;
  font-weight: 400;
  line-height: 23.83px;
  grid-column: 2 / span 2;
  border: 1px solid #f3f4f6;
  border-radius: var(--radius);
  resize: none;
  outline: none;
  text-align: left;
  padding: 0 6px;
}

.buttons_wrapper {
  margin-top: auto;
}

/*----секция План-----*/

.plan {
  grid-column: 4/-1;
  grid-row: 4;
  background-color: var(--accent-light-color);
  border-radius: var(--radius);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 20px 50px;
}
.plan__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-size: 18px;
}
.form__input.plan-input {
  width: 100%;
  background-color: #fff;
  border: none;
}

/*----REACT-SELECT----*/
.react-select-container {
  background-color: rgba(243, 244, 246, 1) !important;
}

/*инпут*/
.react-select__control {
  border: 1px solid var(--main-color) !important;
  background-color: rgba(243, 244, 246, 1) !important;
  box-shadow: none !important;
  transition: background-color 0.3s ease-in-out !important;
}
.react-select__control:hover {
  background-color: rgb(222, 228, 239) !important;
}
.react-select__control--is-focused {
  box-shadow: 0px 0px 0px 1px var(--main-color) !important;
}

/*плейсхолдер*/
.react-select__placeholder {
  font-family: inherit;
  font-size: 16px;
  font-weight: 400;
}
/*выпадающее меню*/
/*.custom-error-message{
  padding: 10px 5px !important;
  color: rgba(66, 83, 97, 1) !important;
  font-weight: 500 !important;
}*/
.react-select__menu {
  border: 1px solid var(--main-color) !important;
  background-color: rgba(243, 244, 246, 1) !important;
}
.react-select__menu-list {
  font-size: 16px;
}
.react-select__option {
  background-color: rgba(243, 244, 246, 1) !important;
  color: var(--main-color) !important;
  font-weight: 400;
  transition: background-color 0.3s ease-in-out !important;
}
.react-select__option--is-focused {
  background-color: rgb(222, 228, 239) !important;
  color: rgb(55, 70, 82) !important;
}
.react-select__single-value {
  color: var(--main-color) !important;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
}

/*индикатор*/
.react-select__indicator {
  color: var(--main-color) !important;
}
.react-select__indicator:hover {
  color: rgba(66, 83, 97, 0.6) !important;
}
/*индикатор-разделитель*/
.react-select__indicator-separator {
  display: none;
}

/*------------------------------*/

.form__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5px;
}

.form__input {
  box-sizing: border-box;
  width: 100px;
  height: 38px;
  padding: 2px 8px;
  border: 1px solid var(--main-color);
  border-radius: 4px;
  outline: none;
  width: 170px;
  width: 100%;
  font-family: inherit;
  font-size: 16px;
  background-color: rgba(243, 244, 246, 1);
  transition: background-color 0.3s ease-in-out;
}
.form__input:hover {
  background-color: rgb(222, 228, 239);
}
.form__input:focus {
  box-shadow: 0px 0px 0px 1px var(--main-color);
}

.submit {
  margin-top: 20px;
}
.label {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 6px;
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
}

.label.order-input {
  width: 100%;
}

.label.profession {
  align-items: center;
}

.input__test {
  margin-top: 10px;
  width: 200px;
  min-height: 25px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.wrapper_text {
  color: rgba(66, 83, 97, 1);
  padding-bottom: 6px;
  margin-bottom: 16px;
  border-bottom: 1px solid rgba(66, 83, 97, 0.2);
  font-size: 16px;
  font-weight: 500;
  width: 100%;
}

/********чекбокс*********/
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  width: 1px;
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

.checkbox__label {
  width: max-content;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: var(--accent-dark-blue);
  margin-top: 4px;
}

.form__pseudo-checkbox {
  background-color: rgba(243, 244, 246, 1);
  border: 1px solid rgba(66, 83, 97, 1);
  border-radius: 4px;
  display: inline-block;
  width: 45px;
  height: 45px;
  margin-right: 5px;
  vertical-align: sub;
  position: relative;
}

.form__pseudo-checkbox::before {
  content: '';
  /*рисунок*/
  display: inline-block;
  width: 45px;
  height: 45px;
  background-image: url('../../../img/icon__yes.svg');
  background-repeat: no-repeat;
  /*выравнивание рисунка
    <div className='label__checkbox'>
                  <label className='checkbox__label'>
    disabled={!additionalMeans}*/
  background-position: center;
  opacity: 0;
}
/*checked*/
.form__checkbox:checked + span {
  background-color: rgba(66, 83, 97, 1);
}
.form__checkbox:checked + .form__pseudo-checkbox::before {
  opacity: 1;
}
.checkbox__label-text {
  font-family: inherit;
  font-size: 18px;
  font-weight: 700;
}
.checkbox__label.disabled > span {
  color: rgba(66, 83, 97, 0.6);
  border-color: rgba(66, 83, 97, 0.6);
}

.label__checkbox {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}

.label.profs {
  width: 90%;
  padding: 0 5%;
}

/*---галочка для разворачивания приказа---
.input-order__title {
  background-image: url(../../../img/check-mark.svg);
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 12px;
}*/

@media screen and (width <= 767px) {
  .label,
  .input-order__wrapper {
    width: 100%;
  }
  .form__input.standart {
    width: 100%;
  }
  .label__checkbox {
    justify-content: flex-start;
    width: 100%;
  }
  .label.box {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
  }
  .react-select-container.order {
    width: 100%;
  }
  .buttons_wrapper {
    align-items: center;
  }
  .button.send,
  .button.reset {
    width: calc((100vw - 40px - 10px) / 2);
  }
  .modal__window .button.send {
    width: 350px;
  }

  /*новые стили для выпадающего меню*/

  .dropdown-child_close {
    display: none;
  }
  .dropdown-child_open {
    display: block;
  }
  /******/
  .label.box {
    align-items: flex-start;
  }
  .buttons_wrapper {
    max-width: fit-content;
  }

  .button.button__table {
    align-self: center;
  }
  .label,
  .input-order__title {
    font-size: 18px;
  }
  .spoiler_wrapper {
    flex-direction: column;
  }
}

@media (width <=400px) {
  .button.send,
  .button.reset {
    min-width: 170px;
  }

  .label,
  .input-order__title {
    font-size: 16px;
  }
}

@media screen and (max-width: 320px) {
  .main {
    margin: 20px 10px;
  }
  .buttons_wrapper {
    flex-direction: column;
    gap: 10px;
  }
  .button.send,
  .button.reset {
    width: 300px;
  }
  .button.button__table {
    width: 300px;
    margin-top: 10px;
  }
  .button.button__table:before {
    top: 8px;
    left: 15px;
    size: 20px;
    width: 20px;
    height: 24px;
  }
}
