.modal__overlay {
  width: 100vw;
  height: 100vh;
  /*синий в цвет текста*/
  background-color: rgba(51, 64, 75, 0.774);
  /*background-color: rgba(0, 0, 0, 0.3);*/
  color: rgba(66, 83, 97, 1);
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__overlay-disabled {
  display: none;
}

.modal__window {
  padding: 10px 10px;
  width: fit-content;
  height: fit-content;
  background-color: #fff;
  /*border: 1px solid rgba(66, 83, 97, 1);*/
  border-radius: 4px;
  position: relative;
}

.form.danger {
  gap: 10px;
  align-items: center;
  position: relative;
}
.lable.danger {
  min-width: fit-content;
  /*min-width: 400px;*/
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 0;
}
.btn_close {
  position: absolute;
  top: -23px;
  right: -30px;
  width: 22px;
  height: 22px;
  border: none;
  background-color: transparent;
  background-image: url('../../../img/white_icon-close.svg');
  background-repeat: no-repeat;
  background-size: cover;
}


.form__input.id {
  width: 150px;
}
