.header {
  padding: 20px 30px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 10px;
  border-bottom: 1px solid rgba(66, 83, 97, 0.6);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  font-weight: 400;
}

.header__text {
  color: rgba(66, 83, 97, 1);
  text-decoration: none;
}
.header__text.active {
  font-weight: 700;
}

.profile__wrapper {
  display: flex;
  gap: 10px;
  margin-left: auto;
}
