p {
  margin: 0;
  padding: 0;
}
.footer {
  margin: 0 20px;
  padding-bottom: 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
  flex: 0 0 auto;
  color: rgba(66, 83, 97, 1)
}

@media screen and (max-width: 480px) {
  .footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0px;
  }
}
