*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  max-inline-size: 1920px;
  margin: 0 auto;
}
button {
  border: none;
}
a {
  text-decoration: none;
}

:root {
  --main-color: rgba(66, 83, 97, 1);
  --accent-green: #17cb6c;
  --accent-red: #fe3f57;
  --accent-dark-blue: #425361;
  --accent-light-color: #f3f4f6;
  --line-color: #8e98a0;
  --radius: 5px;
  --heavy-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  --light-shadow: 0px 4px 23px 3px rgba(0, 0, 0, 0.11);
}
.App {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--main-color);
  height: 100vh;
}
.main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1 0 auto;
}
