.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.main {
  margin: 30px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgba(66, 83, 97, 1);
  flex: 1 0 auto;
}



